name: Fix kubernetes deployment.yaml

on:
  workflow_dispatch:
    user:
      - benchungiscool

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Overwrite deployment.yaml 
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd ~/kube_learning/deployment
            mv deployment.yaml evil_deployment.yaml
            mv good_deployment.yaml deployment.yaml